<div class="container">
    <h2>Todos</h2>
    <mat-spinner *ngIf="loading"></mat-spinner>
    <ng-container *ngIf="!loading">
        <mat-card *ngFor="let todo of todos; trackBy: todoTrackBy">
            <p [ngClass]="{complete: todo.status === 'done'}">{{todo.title}}</p>
            <button *ngIf="todo.status === 'open'" (click)="markAsComplete(todo._id)" mat-stroked-button color="primary">Mark as complete</button>
            <button *ngIf="todo.status === 'done'" (click)="deleteTodo(todo._id)" mat-stroked-button color="primary">Delete</button>
        </mat-card>
        <p *ngIf="todos.length === 0" style="text-align: center;">No todos to display.</p>
    </ng-container>
</div>
